@model BUFFET.ViewModels.System.CadastroViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 login-section-wrapper">
              <div class="brand-wrapper">
                <img src="https://www.piktotal.com.br/wp-content/themes/piktotal/assets/img/titulo-buffet.png"   alt="logo" class="logo">
              </div>
              <div class="login-wrapper my-auto">
                
                
                <h1 class="login-title">Complete os dados abaixo:</h1>
                <form action="/System/Cadastro" method="post" class="text-left">
                  @if(Model.Message != null)
                  {
                    <div class="alert alert-warning" role="alert">@Model.Message</div>
                  }
                  @if(Model.ErrosCad != null)
                  {
                    <div class="alert alert-danger" role="alert">
                      <ul>
                        @foreach (var erros in Model.ErrosCad)
                        {
                            <li>@erros</li>
                        }
                      </ul>
                    </div>
                  }
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Digite seu nome..">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="seunome@exemplo.com">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Digite sua senha..">
                  </div>
                  <div class="form-group mb-4">
                    <label for="passwordConfirm">Confirme sua senha</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" placeholder="Confirme sua senha..">
                  </div>

                  <input name="registrar" id="registrar" class="btn-block login-btn btn btn-secondary" type="submit" value="Registrar">
                </form>

              </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
              <img src="https://images.pexels.com/photos/5927/food-salad-red-lunch.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="login image" class="login-img">
            </div>
          </div>
        </div>
</div>