@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="https://www.piktotal.com.br/wp-content/themes/piktotal/assets/img/titulo-buffet.png"   alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Digite seu email:</h1>
            
            <form action="#!">
              <div class="form-group">
                <div class="form-floating mb-3">
                  <input type="email" name="email" id="email" class="form-control" placeholder="seunome@exemplo.com">
                  <small id="demo1help" class="form-text text-muted">Será encaminhado uma mensagem de recuperação de senha.</small>
                  <label for="email"></label>
                </div>
                </div>
              
              <input name="recuperar" id="recuperar" class="btn-block login-btn btn btn-secondary" type="button" value="Enviar">
            </form>
            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://images.pexels.com/photos/5927/food-salad-red-lunch.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="login image" class="login-img">
        </div>
      </div>
    </div>
 </div>