@{
    ViewData["Title"] = "Financeiro";
}

<h1>Controle Geral</h1>
    <ul class="nav navbar-dark nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Interno" asp-action="Index">Informações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Interno" asp-action="Agenda">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Interno" asp-action="Eventos">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" asp-controller="Interno" asp-action="Financeiro">Financeiro</a>
          </li>
           <li class="nav-item">
                      <a class="nav-link" asp-controller="Interno" asp-action="Cliente">Clientes</a>
                    </li>
        </ul>

 <p> ##SEÇÃO4 EM BRANCO## </p>
 <p> ##SEÇÃO4 EM BRANCO## </p>
 <p> ##SEÇÃO4 EM BRANCO## </p>