@{
    ViewData["Title"] = "Minha Conta";
}
<div class="text-center">
  <h1>Painel do Usuário</h1>
    
  <div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Dados Pessoais:</h5>
      <div class="input-group mb-3">
        <form>
          <label for="nome" class="input-group-text" id="inputGroup-sizing-default">Nome</label>
          <input id="nome" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <br><label for="email" class="input-group-text" id="inputGroup-sizing-default">Email</label>
          <input id="email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <br><label for="ocup" class="input-group-text" id="inputGroup-sizing-default">Ocupação</label>
          <input id="ocup" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <br><input type="submit" class="btn btn-primary" value="Alterar informações">
        </form>
      </div>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <diav class="card-body">
        <h5 class="card-title">CONTROLE2</h5>
        <div class="input-group mb-3">
          <p>CONTROLE2</p>
          <p>CONTROLE2</p>
          <p>CONTROLE2</p>
          <p>CONTROLE2</p>
           <p>CONTROLE2</p>
                    <p>CONTROLE2</p>
                    <p>CONTROLE2</p>
          <p>CONTROLE2</p>
           <p>CONTROLE2</p>
                    <p>CONTROLE2</p>
                    <p>CONTROLE2</p>
                    <p>CONTROLE2</p>
        </div>
        
      </diav>
  
    </div>
    </div>
</div>